@import "../../styles/variables";
@import "../../styles/responsive";

.menu {
  padding: 2rem;

  &>*:not(:first-child) {
    margin-top: 2rem;
  }

  .logo {
    display: flex;
    align-items: center;
    gap: 1rem;

    img {
      height: 2rem;
      width: auto;
    }

    h2 {
      font-weight: 600;
      color: $primary;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    gap: 10px;

    .menuItem {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: $sz-sm;
      padding-left: $sz-xxl;
      border-radius: 5px;

      // &:hover {
      //   background-color: $soft-bg;
      // }

      .menuItemTitle {
        @include lg {
          display: none;
        }
      }
    }
  }
}