:root {
  /* just change the button height and rest all works fine */
  --button-height: 1rem;
  --switch-height: 90%;
  --switch-distance: 3%;
  --switch-stretch: 70%;
  /* for capsule shape */
  --radius-capsule: 500px;
}

.buttonBox {
  position: relative;

  input {
    position: absolute;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  label {
    background-color: tomato;
    display: block;
    height: var(--button-height);
    aspect-ratio: 2/1;
    border-radius: var(--radius-capsule);
    position: relative;
    cursor: pointer;
  }

  label::before {
    content: "";
    position: absolute;
    width: calc(var(--switch-height) / 2);
    height: var(--switch-height);
    top: 50%;
    left: var(--switch-distance);
    transform: translate(0, -50%);
    border-radius: var(--radius-capsule);
    background: linear-gradient(180deg, #ffcc89, #d8860b);
    transition: 0.3s;
  }

  label:active::before {
    width: var(--switch-stretch);
  }

  input:checked+label::before {
    left: calc(100% - var(--switch-distance));
    transform: translate(-100%, -50%);
  }
}