// BG
$main-bg: #2a3447;
$soft-bg: #384256;
$dark-bg: #222b3c;
//TEXT
$main-color: white;
$soft-color: #ddd;
$dark-color: #2a3447;

// THEME

$primary: #3380FF;
$red: #FF7373;
$white: #FFF;
$white-dimmed: #d0d0d0;

$black: #000;
$bg-primary-darker: #062141;
$bg-dark: #12131A;
$bg-less-dark: #1C1C25;

$gray: #DFE6EC;
$dark-gray: #202228;
$light-gray: #5E6E78;

$bg-primary: #D5E6FB;
$bg-light: #F0F8FF;

// SIZES (Padding, Margin etc)
$sz-sm: 0.6rem; // 9.6px
$sz-md: 0.8rem; // 12.8px
$sz-lg: 1rem; // 16px
$sz-xl: 1.25rem; // 20px
$sz-xxl: 1.5rem; // 24px

// PRESETS
$border-radius-tablet: 30rem;

// SHADOWS
$soft-shadow: 0px 0px 48px -10px rgba(0, 0, 0, 0.2);