@import "variables";
@import "responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

// styles related to App.tsx

.main {
  font-family: 'Inter', sans-serif;
  color: $main-color;
  display: flex;
  min-height: 100vh;
}

.container {
  flex: 1;
}

.contentContainer {
  margin: 1.5rem;
}


// THEME

.bgWhite {
  background-color: $white;
}

.bgDark {
  background-color: $bg-dark;
}

.bgLessDark {
  background-color: $bg-less-dark;
}

.bgPrimary {
  background-color: $bg-primary;
}

.bgHoverPrimary:hover {
  background-color: $bg-primary;
}

.bgPrimaryDarker {
  background-color: $bg-primary-darker;
}

.bgHoverPrimaryDarker:hover {
  background-color: $bg-primary-darker;
}

.bgLight {
  background-color: $bg-light;
}

.bgRed {
  background-color: $red;
}

.colorBlack {
  color: $black;
}

.colorWhite {
  color: $white;
}

.colorPrimary {
  color: $primary;
}

.colorHoverPrimary:hover {
  color: $primary;
}

.borderRightGray {
  border-right: 2px solid $gray;
}

.borderRightDarkGray {
  border-right: 2px solid $dark-gray;
}