@import "../../styles/responsive";

.navbar {
  // width: 100%;
  padding: 1.5rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .search {
    width: 100%;
  }

  .userPanel {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;

    .notification {
      position: relative;
      font-size: 1.5rem;

      div {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 0.7rem;
        height: 0.7rem;

        span {
          position: absolute;
          border-radius: 50%;
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }
    }

    .user {
      display: flex;
      align-items: center;
      gap: 10px;

      img {
        width: 26px;
        height: 26px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}