@import "../../styles/responsive";
@import "../../styles/variables";

.navbar {
  padding: 1.25rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .search {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .quickAccess {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;
  }
}