@import "../../styles/responsive";
@import "../../styles/variables";

.navbar {
  // width: 100%;
  padding: 1.25rem 2.5rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);

  .search {
    width: 100%;
    display: flex;
    align-items: center;
  }

  .userPanel {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 20px;

    .notification {
      position: relative;
      font-size: 1.5rem;

      div {
        position: absolute;
        top: 0px;
        right: 0px;

        width: 0.7rem;
        height: 0.7rem;

        span {
          position: absolute;
          border-radius: 50%;
          display: inline-block;
          width: 0.5rem;
          height: 0.5rem;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

      }
    }

    .user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 1rem;
      padding: 0.5rem 1rem;
      border-radius: 0.8rem;

      .image {

        img {
          width: 3rem;
          height: 3rem;
        }
      }

      .nameEmail {
        &>div:first-child {
          font-weight: 600;
          font-size: 0.9rem;
        }

        &>div:last-child {
          margin-top: 0.3rem;
          font-size: 0.7rem;
          color: $light-gray;
        }
      }

      .icon {
        font-size: 3rem;
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }
}