.notificationContainer {
  position: relative;

  .notificationIcon {
    position: relative;
    font-size: 1.5rem;
    cursor: pointer;

    * {
      display: block;
    }

    div {
      position: absolute;
      top: 0px;
      right: 0px;

      width: 0.7rem;
      height: 0.7rem;

      span {
        position: absolute;
        border-radius: 50%;
        display: inline-block;
        width: 0.5rem;
        height: 0.5rem;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  .notification {
    display: flex;
    flex-direction: column;

    .notificationMessage {
      padding: 1rem 1.2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;
      gap: 2rem;

      .whatHappened {
        font-size: 0.8rem;
        font-weight: 700;
      }

      .whenHappened {
        font-size: 0.6rem;
      }

      // &:hover {
      //   background-color: rgba(0, 0, 0, 0.1);
      // }
    }
  }
}